OPENAI_API_KEY=""
GOOGLE_API_KEY=""

# 決定要用哪家模型？ (openai / google)
MODEL_PROVIDER="openai" 

# openai 建議 "gpt-4o-mini" 或 "gpt-4o"
# google 建議 "gemini-2.5-pro" 或 "gemini-2.5-flash"
MODEL_NAME="gpt-4o-mini"
